<div class="title">
  <%= title %>
</div>

Welcome <%= user.username  %> !

<p>
  ID: <%= user._id %>
  <br>

  Username: <%= user.username %>
  <br>

  Password: <%= user.password %>
  <br>

  Firstname: <%= user.firstname %>
  <br>

  Middlename: <%= user.middlename %>
  <br>

  Lastname: <%= user.lastname %>
  <br>

  About: <%= user.about %>
  <br><br>

</p>
